*.env

debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb

*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.favorites.json
.settings/
.vs/

.DS_Store
desktop.ini

.valgrindrc
.cargo

/dl/
/doc/
/inst/
/llvm/
/mingw-build/
build/
!/compiler/rustc_mir_build/src/build/
/build-rust-analyzer/
/dist/
/unicode-downloads
/target
/src/bootstrap/target
/src/tools/x/target
# Created by default with `src/ci/docker/run.sh`
/obj/

*~
\#*
\#*\#
.#*
